---
extends: airbnb-base
parser: babel-eslint

env:
  node: true
  mocha: true

rules:
  arrow-body-style: 1
  newline-per-chained-call: 0
  no-param-reassign: 1

  max-len:
    - 1
    - 120

  complexity:
    - 1
    - max: 10
